{% extends 'main.html' %}


{% block content %}

<style>
    .room-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>

<div class="room-container">

    <div>
        <h1>Room</h1>

        <h3>{{ room.name }}</h3>

        <p>{{ room.description }}</p>
        <hr>

        <div class="comment-wrapper">
            <h3>Conversation</h3>
            {% for comment in room_messages %}

            <small>@{{comment.user}} {{comment.created | timesince }} ago</small>
            {% if request.user == comment.user %}
            <a href="{% url 'delete-message' comment.id %}">Delete</a>
            {% endif %}
            <p>{{comment.body}}</p>
            <hr>

            {% endfor %}
        </div>

        {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" name='comment' placeholder="Write your message here...">
            </form>
        </div>
    </div>

    <div>
        <h3>Participants</h3>
        <hr>
        {% for participant in participants %}
        <p>@ {{participant}} </p>
        {% endfor %}
    </div>
</div>

{% endif %}

{% endblock %}